@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e5e5f7;

    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 34px), repeating-linear-gradient(#444cf755, #444cf7);
}

.box {
    width: 950px;
    height: 550px;
    border-radius: 50px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #FFFBDA;
    background: linear-gradient(100deg, #7752FE, #1363DF, #03045E);
}

.title {
    padding-top: 100px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 80px;
}
.input-box{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.input-box input {
    width: 300px;
    padding: 20px;
    height: 15px;
    border-radius:30px ;
    border: none;
    opacity: 0.3;
    outline: none;
    font-size: 18px;
    color: black;
}
.input-box button:active{
    border: none;
}
.input-box input::placeholder {
    color: #1B1A55; 
    font-size: 18px; 
    opacity: 1;
}
button {
    margin: 20px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #5BBCFF;
    border: none;
    transition: 0.2s;
}

button:active {
    scale: 0.8;
}
.input-icon{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    transition: 0.3s;
}
.input-icon:active{
    scale: 0.8;
}
.result{
    padding: 50px;
    font-size: 25px;
}